<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Name: <%= @name %>
    </p>
    <p>
      Email: <%= @email %>
    </p>
    <p>
      Guests: <%= @guests %>
    </p>
    <p>
      Vegetarians: <%= @vegetarians %>
    </p>
    <p>
      Error: <%= @error %>
    </p>
  </body>
</html>