<%# add navigation links to this file %>
<li class='nav-item-logo'>
  <a href="../..">
    <img class="img-responsive" style="display:inline-block; height:30px; margin-top:-5px" src="../../NavBar_Logo_30x30_T.png" alt="Logo" />
  </a>
</li>
<li class='nav-item-font'><%= link_to 'OUR STORY', page_path('ourstory'), class: 'nav-link' %></li>
<li class='nav-item-font'><%= link_to 'DETAILS', page_path('details'), class: 'nav-link' %></li>
<li class='nav-item-font'><%= link_to 'REGISTRY', page_path('registry'), class: 'nav-link' %></li>
<li class='nav-item-font'><%= link_to 'RSVP', page_path('rsvp'), class: 'nav-link' %></li>
<li class='nav-item-font'><%= link_to 'CONTACT', page_path('contact'), class: 'nav-link' %></li>